{% extends "layout.html" %}
{% block body %}
  <script src={{ url_for ('static',filename='d3.v3.min.js')}}></script>
  <script src={{ url_for ('static',filename='jquery.min.js')}}></script>
  <script src={{ url_for ('static',filename='main.js')}}></script>


    <form action="{{ url_for('draw') }}" method=post class=draw>
      <dl>
        <dt>Please choose GWAS and eQTL of your interest:
        <dd>
        <br>please select disease names
        <br><select name="disease" multiple onchange="addDisease(this);" id="disease_dropdown">
        {% for disease_name in disease_names%}
            <option value={{disease_name}}>{{disease_name}}</option>
        {% endfor %}
        </select>
        <dd><input type=text size=100 name=GWAS_list id="disease_input_text">
        <br>
        <br>please select eQTLs of interest<ul id="eQTL_names">
        {% for eQTL_name in eQTL_names%}
            <li><input name={{ eQTL_name }} type="checkbox" />{{ eQTL_name }}</li>
        {% endfor %}
        </ul>
       {# <br>eQTL list<dd><input type=text size=30 name=eQTL_list>#}
        <dd><input type=submit value=Draw>
      </dl>
    </form>


    {% if pagination %}
        {{ pagination.info }}
        {{ pagination.links }}    
    {% endif %}

    <div id="chart" ></div>
    {% if pagination %}
        {{ pagination.links }}
    {% endif %}


    <div id="sub_clusters"></div>

    <div id = "detail" >
    <div id = "gene_of_interest"></div>    
    </div>

    <input type="hidden" id='draw_pair_json_obj' value="{{draw_pair_json_obj}}" />
    <input type="hidden" id='sub_clusters_json_obj' value="{{sub_clusters_json_obj}}">
{% endblock %}
