{% extends "layout.html" %}
{% block body %}
  <script src={{ url_for ('static',filename='d3.v3.min.js')}}></script>
  <script src={{ url_for ('static',filename='jquery.min.js')}}></script>
  <script src={{ url_for ('static',filename='main.js')}}></script>


  {% if session.logged_in %}
    <form action="{{ url_for('search') }}" method=post class=search>
      <dl>
        <dt>Please choose GWAS and eQTL of your interest:
        <dd>
        <br>GWAS list<dd><input type=text size=30 name=GWAS_list>
        <br>eQTL list<dd><input type=text size=30 name=eQTL_list>
        <dd><input type=submit value=Draw>
      </dl>
    </form>
    <aside id = "detail" style="overflow:scroll; margin-top: 10px;" ></aside>
    {{ pagination.info }}
    {{ pagination.links }}    

    <div id="chart" style="overflow:scroll; margin-top:10px;"></div>
    {{ pagination.links }}
  {% endif %}
{% endblock %}
